datadog_api_key = "YOUR_DATADOG_API_KEY"
datadog_app_key = "YOUR_DATADOG_APP_KEY"

# Datadog API URL (default: US region)
# US: https://api.datadoghq.com
# EU: https://api.datadoghq.eu
datadog_api_url = "https://api.datadoghq.com"
